extends layout

block content
	.alert.alert-success.text-center.text-capitalize.fs-3 Descarguemos vsix
	.container-fluid
		form(action="/getExtension", method="POST")
			.mb-3
			label.formLabel(for="url") Url de la extensi&oacute;n en marketplace
			input.form-control#url(type="text", name="url" required)
			.mb-3
			label.formLabel(for="version") Version de la extension
			input.form-control#version(type="text", name="version", required)
			button.btn.btn-primary.mt-3(type="submit") Descargar

	if datos.timeToclick
		script.
			const url = '#{datos.url}';
			if (url) {
				const enlace = document.createElement('a');
				enlace.href = url;
				enlace.target = '_blank';
				enlace.click();
				enlace.remove();
			}
