doctype html
html(lang=es)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="with=device-with, init-scale=1.0")
    title= datos.title
    link(rel="stylesheet", href="/css/style.css")
  body
    block content